{% extends "basic.html" %}
{% block scripts %}
	<script type="text/javascript" src="javascripts/index.js"></script>
{% endblock %}
{% block contents %}
	<div class="search">
		<form id="playerForm" action="player" method="get">
			<input type="submit" id="submitBtn" value="Go to player" />
			<input type="text" id="steamId" name="id" placeholder="Paste SteamID for example 76561198029440841">
		</form>
	</div>
	<div class="user">
		<form method="post">
			<p>username</p>
			<input type="text" name="username" value="{{username}}" />
			<p>password</p>
			<input type="password" name="password" />
			<button type="submit">submit</button>
			<div>
				{{error}}
			</div>
		</form>
	</div>
{% endblock %}
