{% extends "basic.html" %}

{% block scripts %}
	<script type="text/javascript" src="javascripts/player.js"></script>
{% endblock %}

{% block contents %}
	<div class="playerName">
		<div class="front">
			<strong>Jaha</strong>
		</div>
		<div class="back">
			<p>I'm nothing without my team</p>
		</div>
	</div>
	<div class="Head">
		<ul>
			<!--<li class="button" id="Main">Home</li>**/-->
			<li class="button" id="Achievments">Achivments</li>
			<li class="button" id="Stats">Stats</li>
			<!--<li class="button" id="Abouttheteam">About the team </li>-->
		</ul>
	</div>
	<div class="Main">
	</div>
	<div class="Achievments">

	</div>
	<div class="Stats">
		<table class="statsTable">
			<tr>
				<td>Statistic</td>
				<td>Value</td>
			</tr>
		</table>
	</div>
	<div class="Abouttheteam">
	</div>
{% endblock %}
<!-- <!DOCTYPE html>
<html>
<head>
	<LINK REL="SHORTCUT ICON"
	       HREF="/img/logo.ico">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript" src="JavaScript/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="JavaScript/player.js"></script>
	<script type="text/javascript" src="JavaScript/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
	<title>CS:GO Project</title>

</head>
<body>

	<div class="master">
		<div class="logo">
		</div>
		<div class="playerName">
			<div class="front">
					<strong>Jaha</strong>
			</div>
			<div class="back">
					<p>I'm nothing without my team</p>
			</div>
		</div>
		<div class="search">

		<form action="player.html" id="playerForm" method="get">
				<input type="submit" id="submitBtn" value="Go to player" />
				<input type="text" id="steamId" name="id" placeholder="Paste SteamID">
		</form>
	</div>

</body>
</html>-->
