/**button**/
.button {
		&:hover{
			background-color: #142029;
			height: 22px;
	    color:	#DC143C/* rgb( 76,194, 232);*/
		}
    /*background-color: #008CBA; /* Blue */
    border: 2px solid $border-color; /* blueborder */
		border-radius: 8px;
		cursor:pointer;
    color: white;
		height: 12px;
		transition: height 1000ms;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}
