
/*transformation*/
@mixin transform($transformation) {
  transform: $transformation;
  -webkit-transform: $transformation;
  -moz-transform: $transformation;
  -ms-transform: $transformation;
  -o-transform: $transformation;
}
/*transformation style*/
@mixin transform-style($style){
   transform-style: $style;
  -moz-transform-style: $style;
  -o-transform-style: $style;
  -ms-transform-style: $style;
  -webkit-transform-style: $style;
}
/*transition time*/
@mixin transition($time){
  transition: $time;
  -webkit-transition: $time;
  -moz-transition: $time;
  -o-transition: $time;
}

/*backface-visibility*/
@mixin backface-visibility($visibility: hidden) { //Add an argument
  backface-visibility: $visibility;
  -webkit-backface-visibility: $visibility;
  -moz-backface-visibility: $visibility;
  -ms-backface-visibility: $visibility;
  -o-backface-visibility: $visibility;
}
/*tab style*/
@mixin tab($url, $displayType) {
  background-color: $background-color;
  background-repeat:no-repeat;
  background-image: url($url);
  background-size: cover;
  background-position: center 0;
  overflow-x: hidden;
  overflow-y: scroll;
  display: $displayType;
  height: 450px;
  width:100%;
}
