
/*border-color*/
$border-color:   rgba(125,199,255,.1);/*rgb( 76,194, 232 );*/
/*background-color*/
$background-color: rgba(125,199,255,.08);/*rgb( 10,32, 53 )*/
$name-font:'Indie Flower', cursive;
